.inner-container {
  /* width: 660px; */
  border: 3px black solid;
  background-color: lightgrey;
}

.drum-bank {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding: 10px;
  background-color: lightgrey;
}
